<% if session[:user_name] %>
 <p>
  <% if session[:exists]%>
   Welcome back,
  <%else%>
   Welcome,
  <%end%>
  <%= session[:user_name]%>|
  <%= link_to 'Logout', signout_path, id: "sign_out"%>
 </p>
<%else%>

 <%= link_to 'Login', '/auth/facebook', id: "sign_in"%>

<%end%>

<hr>

